node_modules
.yarn
.next
backups
data
coverage
*.tsbuildinfo

# misc
.DS_Store
*.pem
.claude
.gemini
.playwright-mcp
.idea
uploads
scripts
wallaby.js
.github
.git

# debug
*.log

# local env files
.env
.env.*
!.env.example

# database
*.sqlite
*.sqlite3
*.sqlite-shm
*.sqlite-wal

# shared configuration
config.json
config.*.json
*.properties
