name: Dev

on: push

jobs:
  test:
    name: 'All Tests'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Use Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - name: corepack enable
        run: corepack enable
      - name: Install dependencies
        run: yarn install
      - name: Run all tests
        run: yarn test
        env:
          TEST_DATABASE_TYPE: sqlite
